
/*
CONTATO
*/

.contato{
	background-color: #eaca97;
}

.contato-title{
	color: #1e1204;
	font-size: 1.3em;
	margin: 5% 0;
}

.contato .contato-tels{
	margin: 0 0 4% 0;
}

.contato .contato-tels li{
	list-style: none;
	text-align: center;
	font-size: 1em;
	font-weight: 300;
}

.contato img{
	width: 80%;
}


/********************************************************************************
RESPONSIVO 400
*********************************************************************************/
@media(min-width:400px){

	.contato img{
		width: 70%;
	}

}


/********************************************************************************
RESPONSIVO 960
*********************************************************************************/
@media(min-width:960px){

	.contato-title{
		font-size: 2.2em;
		margin: 4% 0;
	}


	.contato .contato-tels li{		
		text-align: left;
		font-size: 1.2em;
		margin: 0 0 0 5%;
	}

	.contato img{
		width: 100%;
	}

	.contato-flex{
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: nowrap;
		justify-content: space-between;
	}


/********************************************************************************
RESPONSIVO 1020
*********************************************************************************/
@media(min-width:1020px){

	.contato .contato-tels li{		
		text-align: left;
		font-size: 1.5em;
		margin: 0 0 0 12%;
	}

	.contato img{
		width: 80%;
		margin: -7% 0 0 0;
	}


}