/*
CONTEÚDO
*/

.cont{
	background-image: url('../images/bg01.jpg');
  	background-position: top center;
  	background-repeat: no-repeat;
  	height: 100%;
  	background-attachment: fixed;
  	background-size: cover;
}

.cont-tema{
	padding: 15% 0;
}

.cont-tema img{
	width: 100%;
}


/*
PRELETOR
*/

.preletor{
	width: 100%;
}

.preletor-titu{
	color: #2e0a3a;
	text-transform: uppercase;
	font-size: 1.5em;
}

.preletor-cont{
	background-color: rgba(89,55,69,0.8);
	padding: 1% 0 0 0;
}

.preletor-cont h1{
	color: #ebca95;
	font-size: 2.5em;
}

.preletor-cont p{
	color: #d5eac1;
	text-align: left;
}


/*
MINISTRAÇÃO
*/

.ministracao{
	width: 100%;
	margin: 30px 0 0 0;
}

.ministracao-titu{
	color: #2e0a3a;
	text-transform: uppercase;
	font-size: 1.5em;
}

.ministracao-cont{
	background-color: rgba(89,55,69,0.8);
	padding: 1% 0 0 0;
}

.ministracao-cont h1{
	color: #ebca95;
	font-size: 2.5em;
}

.ministracao-cont p{
	color: #d5eac1;
	text-align: left;
}



/*
PROGRAMAÇÃO
*/

.programacao{
	background-color: #cce5cf;
	padding: 5% 0;
}

.programacao h1{
	font-size: 1.5em;
	margin: 0 0 5% 0;
	color: #42163a;
	text-transform: uppercase;
}

.programacao li{
	text-align: left;
	list-style: none;
	color: #42163a;
	font-size: 0.8em;
}



/*
INSCRIÇÃO
*/

.inscricao{
	background-image: url('../images/bg01.jpg');
  	background-position: top center;
  	background-repeat: no-repeat;
  	height: auto;
  	background-attachment: fixed;
  	background-size: cover;
  	padding: 5% 0 0 0;
}

.inscricao-flex-bloco1{
	color: #fff;
	font-size: 1.5em;
	width: 80%;
	background-color: rgba(66,22,58,0.8);
	text-align: center;
	margin: 3% auto;
	border-radius: 0.3em;
	padding: 2%;
}

.inscricao-flex-bloco1 .insc{
	font-size: 1.6em;
	font-weight: bold;
}

.inscricao-btn{
	
	color: #fff;
	padding: 5%;
	border-radius: 0.2em;
	width: 100%;
	display: block;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: 300;
	margin: 5% 0 0 0;
	transition: all 0.3s ease;
}

.inscricao-btn:hover{
	text-decoration: none;
	background-color: #410f4b;
	color: #fff;
}



/*
LOCAL
*/

.local{
	background-color: #3f153b;
	padding: 3% 0;
	margin: 10% 0 0 0;
}

.local-end{
	color: #fff;
	font-size: 1em;
	font-weight: 300;
	margin: 0 0 5% 0;
}


/*
SOCIAL
*/

.social{
	background-color: rgba(0,0,0,0.5);
	padding: 5% 0;
	color: #fff;
}

.social-title{
	font-size: 1.3em;
}

.social a{
	font-size: 2em;
	color: #fff;
	text-decoration: none;
	margin: 4% 2% 0 2%;
	padding: 3.7% 4%;
	width: 50px
	height: 50px;
	border-radius: 50%;
}

.social a:hover{
	text-decoration: none;
}

.fa-facebook{
	width: 52px;
	background-color: #3b5999;
}

.fa-facebook:hover{
	color: #fff;
	background-color: #496fc1;
}

.fa-instagram{
	background-color: #db247e;	
}

.fa-instagram:hover{
	color: #fff;
	background-color: #e82686;	
}

.fa-youtube{
	background-color: #f80010;	
}

.fa-youtube:hover{
	color: #fff;
	background-color: #fb2b39;	
}



/*
PATROCINADORES
*/

.patrocinadores{
	background-color: #fff;
	padding: 5% 0;
}

.patrocinadores-title{
	margin: 0 0 3% 0;
	color: #3f153b;
	font-size: 1.4em;
}

.patrocinadores-box{
	width: 25%;
	height: 70px;
	background-color: #ccc;
	display: inline-block;
}



/********************************************************************************
RESPONSIVO 400
*********************************************************************************/
@media(min-width:400px){

	.fa-facebook{
		width: 62px;
	}

}


/********************************************************************************
RESPONSIVO 960
*********************************************************************************/
@media(min-width:960px){

	.cont-tema{
		padding: 11% 0;
	}


	.preletor-titu{
		font-size: 4em;
		text-align: left;
	}	

	.preletor-cont h1{
		font-size: 4em;
		text-align: left;
	}

	.preletor-cont p{
		text-align: left;
	}

	.preletor-img{
		position: relative;
	}

	.preletor-img img{
		position: absolute;
		bottom: 0;
		right: 0;
	}	


	.ministracao{
		margin: 70px 0 0 0;
	}

	.ministracao-titu{
		font-size: 4em;
		text-align: right;
	}

	.ministracao-cont h1{
		font-size: 4em;
		text-align: left;
	}




	.programacao h1{
		font-size: 3em;
		margin: 0 0 5% 0;
		text-align: left;
	}

	.programacao li{
		font-size: 1.5em;
		font-weight: 300;
	}





	.inscricao-flex{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
	}


	.inscricao-flex-bloco1{
		font-size: 2em;
		width: 40%;
		font-weight: 300;
	}


	.inscricao-btn{	
		padding: 3%;
		width: 50%;
		display: inline-block;
		font-size: 2em;
	

	}

	.inscricao-btn:hover{
		text-decoration: none;
		background-color: #410f4b;
		color: #fff;
	}






	.local-end{
		font-size: 1.5em;
		font-weight: 300;
		margin: 0 0 5% 0;
	}	








	.social-title{
		font-size: 1.5em;
	}

	.fa-facebook{
		width: 85px;
		background-color: #3b5999;
	}






	.patrocinadores{
		padding: 4% 0;
	}

	.patrocinadores-title{
		font-size: 1.8em;
	}

	.patrocinadores-box{
		width: 25%;
		height: 120px;
	}


}






/********************************************************************************
RESPONSIVO 1020
*********************************************************************************/
@media(min-width:1020px){

	.programacao h1{
		text-align: center;
	}

	.programacao li{
		font-size: 1.8em;
		text-align: center;
	}






	.inscricao-flex-bloco1{
		width: 30%;
	}


	.inscricao-btn{	
		padding: 2%;
		width: 80%;
		display: inline-block;
		font-size: 2em;
		text-transform: uppercase;
	}

	.inscricao-btn:hover{
		text-decoration: none;
		background-color: #410f4b;
		color: #fff;
	}


	.social-title{
		font-size: 1.5em;
	}

	.fa-facebook{
		width: 116px;
		background-color: #3b5999;
	}


}