/*
HEADER
*/

.header{
	width: 100%;
	background: #38112c;
	height: 120px;
	padding: 10px 0;
}

.header img{
	margin: 0 auto;
	width: 74%;
}



/********************************************************************************
RESPONSIVO 300
*********************************************************************************/
@media(min-width:300px){

	.header{
		height: 150px;
	}

	.header img{
	    width: 240px;
	}

}


/********************************************************************************
RESPONSIVO 960
*********************************************************************************/
@media(min-width:960px){

	.header img{
	    float: left;
	}	

}