
.prod{
  background-image: url('../images/bg2.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  height: 120%;
  background-attachment: fixed;
  background-size: cover;
}

.produtos{
	margin: 30px 0 0 0;
}

.produtos-desc{
	padding: 20px 0px;
	color: #38112c;
}

.produtos-valor{
	font-weight: bold;
	font-size: 20px;
}

.prod-form{
	background: rgba(0,0,0,0.5);
	padding: 15px 10px;
	margin: 0 0 30px 0;
	color: #fff;
}

.btn2{
	cursor: pointer;
	margin: 10px 0 0 0;
	width: 200px;
}



/*************************************************************************************************/
@media(min-width:800px){

    .prod{
     height: 100%;
  }

    .produtos{
      margin: 60px 0 0 0;
  }

    .prod-form{
      margin: 60px 0 30px 0;
  }



}




/*************************************************************************************************/
@media(min-width:960px){


.produtos{
	margin: 70px 0 0 0;
}

.produtos-desc{
	padding: 20px 50px;
}

.produtos-valor{
	font-size: 30px;
}

.prod-form{
	background: rgba(0,0,0,0.3);
	padding: 30px;
	margin: 70px 0 0 0;
}


.btn2{
	cursor: pointer;
	margin: 10px 0 0 0;
	width: 300px;
}


